{% extends "bootstrap/base.html" %}
{% block title %}My Photo Folder{% endblock %}
{% block navbar %}
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand" href="/">MPF</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Overview</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Years <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for year in years %}
                            <li><a href="/date/{{ year }}">{{ year }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="#">Albums</a></li>
                <!--li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li-->
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
    {% block my_content %}{% endblock %}
    </div>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css')}}" />
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    {% include('unitegallery.html') %}
{% endblock %}