{% extends "base.html" %}
{% block my_content %}

<h3>{{ current_year }} year</h3>
<div class="months">
    {% for month in months %}
        {% if month == current_month %}
            <span class="label label-warning">{{ month | month_name }}</span>
        {% else %}
            <a href="/date/{{ current_year }}/{{ month }}/"><span class="label label-primary">{{ month | month_name}}</span></a>
        {% endif %}
    {% endfor %}
</div>

{% if not current_month %}
    <h4>Random images from {{ current_year }}</h4>
{% endif %}

{% include 'gallery.html' %}

{% endblock %}